.group {
  width: 100%;
  margin: 1rem 0;

  position: relative;

  > div {
    display: flex;
    align-items: center;
  }

  &__error {
    color: var(--error);
    font-size: var(--font-10);
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    display: block;
  }
  &:focus {
    border: solid 2px var(--violet);
  }

  img {
    margin-left: -40px;
    position: relative;
    padding: 0.5rem;
    background-color: var(--blue-900);
  }
}

.input {
  width: 100%;
  padding: 1.5rem;
  border: none;
  border-radius: var(--br-4);
  background-color: var(--blue-900);
  color: var(--white);
  font-size: var(--font-15);
  outline: none;
  border: 2px solid transparent;

  &:focus {
    border: solid 2px var(--violet);
  }

  &::placeholder {
    color: var(--gray-400);
  }
}

.input__error {
  border: solid 1px var(--error);
}
