.date {
  h3 {
    font-size: var(--font-16);
    color: var(--white);
    margin-bottom: 1rem;
  }

  // button {
  //   background-color: var(--blue-50);
  //   color: var(--white);
  //   border: none;
  //   padding: 1rem 3rem;
  //   border-radius: 3px;
  //   cursor: pointer;
  //   border: solid 2px transparent;
  //   margin-left: 1rem;

  //   &:hover {
  //     background-color: var(--blue-50-plus);
  //     border: solid 2px var(--blue-10);
  //   }
  // }

  input {
    background: var(--blue-100);
    border: none;
    padding: 0.7rem;
    border-radius: 3px;
    color: white;
    border: solid 2px transparent;
    outline: none;

    &:hover {
      //   background-color: var(--blue-150);
      border: solid 2px var(--blue-10);
    }

    &::placeholder {
      color: var(--blue-150);
      font-family: var(--font-family);
    }
  }
}
