.inputSubTask {
  p {
    font-size: var(--font-16);
    color: var(--white);
    margin-bottom: 1rem;
  }

  &__wrapper {
    background-color: var(--blue-50);
    border-radius: 3px;
    padding: 0.5rem;
    margin-bottom: 2rem;

    svg {
      color: var(--gray-100);
    }

    form {
      display: flex;
      align-items: center;

      input {
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        color: var(--white);
        font-size: var(--font-16);
        font-family: var(--font-family);
        padding-left: 0.8rem;

        &::placeholder {
          color: var(--blue-150);
        }
      }
    }
  }
}
