.subtask {
  background-color: var(--blue-50);
  border-radius: 3px;
  padding: 0.5rem;
  margin: 1rem 0;

  &:hover {
    background-color: var(--blue-50-plus);
  }

  &__todo {
    padding-left: 1rem;
    width: 100%;
  }

  form {
    display: flex;
    align-items: center;

    svg {
      color: var(--gray-100);
      width: 23px;
      height: 23px;
    }

    input {
      background-color: transparent;
      outline: none;
      border: none;
      color: var(--white);
      font-size: var(--font-15);
      font-family: var(--font-family);
      width: 100%;
    }
    button {
      font-size: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      border-radius: 3px;

      &:hover {
        background-color: var(--blue-10);
      }
    }
  }
}
