* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  /* Colors */

  --white: #fff;

  --blue: #26323e;
  --blue-plus: #36414b;
  --blue-100: #3c4854;
  --blue-700: #212d38;
  --blue-900: #15202b;
  --blue-950: #0d141c;

  --violet: #6c71d1;
  --violet-plus: #9da1f5;

  --green: #70c574;
  --green-plus: #8fe393;

  --error: #e66a43;

  --cyan: #506ac6;

  --gray-50: #ecefed;
  --gray-100: #c4c4c4;
  --gray-150: #bcbcbc;
  --gray-200: #929292;
  --gray-400: #49525a;
  --gray-500: #36414b;

  /* Font size */
  --font-16: 1.6rem;
  --font-15: 1.5rem;
  --font-14: 1.4rem;
  --font-12: 1.2rem;
  --font-10: 1rem;

  --p-50: 5rem;
  --br-4: 0.5rem;
}

body {
  //font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.global__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.global__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  background-color: var(--blue-950);
  border-radius: 4px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--blue-950);
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray-400);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-200);
}
