* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  /* Colors */

  --white: #fff;

  --blue: #26323e;
  --blue-plus: #36414b;
  --blue-900: #15202b;

  --violet: #6c71d1;
  --violet-plus: #9da1f5;

  --green: #70c574;
  --green-plus: #8fe393;

  --error: #e66a43;

  --cyan: #506ac6;

  --gray-50: #ecefed;
  --gray-100: #c4c4c4;
  --gray-200: #929292;
  --gray-400: #49525a;
  --gray-500: #36414b;

  /* Font size */
  --font-16: 1.6rem;
  --font-15: 1.5rem;
  --font-14: 1.4rem;
  --font-12: 1.2rem;
  --font-10: 1rem;

  --p-50: 5rem;
  --br-4: 0.5rem;
}

body {
  font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray-400);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-200);
}
