* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  /* Colors */

  --white: #fff;

  --blue: #26323e;
  --blue-plus: #36414b;
  --blue-10: #647686;
  --blue-50: #505f6d;
  --blue-50-plus: #576775;
  --blue-150: #798591;
  --blue-100: #3c4854;
  --blue-700: #212d38;
  --blue-900: #15202b;
  --blue-950: #0d141c;

  --blue-bg: #15202b;
  --blue-list: #15202b;
  --blue-card: #26323e;
  --blue-card-plus: #36414b;

  --violet: #6c71d1;
  --violet-plus: #9da1f5;

  --green: #70c574;
  --green-plus: #8fe393;

  --error: #e66a43;

  --cyan: #506ac6;

  --gray-50: #ecefed;

  --gray-100: #c4c4c4;
  --gray-150: #bcbcbc;
  --gray-180: #a3a3a3;
  --gray-200: #929292;
  --gray-400: #49525a;
  --gray-500: #36414b;

  /* Font size */
  --font-24: 2.4rem;
  --font-16: 1.6rem;
  --font-15: 1.5rem;
  --font-14: 1.4rem;
  --font-12: 1.2rem;
  --font-10: 1rem;

  --font-family: "Roboto Mono", monospace;

  --p-50: 5rem;
  --br-4: 0.5rem;

  //
  --header-datepicker: #5f6e7d;
  --body-datepicker: #505f6d;
  --select-datepicker: #3c4854;
  --hover-datepicker: #3c4854;
  --disabled-datepicker: #8c9ba9;
}

body {
  //font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.global__overlay {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.global__modal,
.group__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  background-color: var(--blue-100);
  border-radius: 5px;
  padding: 0.5rem;
  width: 80%;
  height: 90%;
  outline: none;
}

.group__modal {
  width: 100%;
  max-width: 450px;
  height: 200px;
}

.toastify {
  color: white !important;
  font-size: 1.5rem;
  font-weight: 100;

  &__error {
  }

  &__success {
    // background-color: !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--blue-950);
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray-400);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-200);
}

::-webkit-calendar-picker-indicator {
  color: var(--white);
  cursor: pointer;
  border-radius: 3px;
  padding: 0.3rem;
  filter: invert(1);

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

@media (max-width: 425px) {
  .global__modal {
    width: 100%;
    height: 100%;
  }
}
