.section {
  padding: 3rem;
  height: 100%;
  font-family: var(--font-family);

  .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0px;
    color: var(--white);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 1rem;
  }

  .title {
    margin-bottom: 2rem;
  }

  .newTaskModal {
    display: flex;
    column-gap: 5rem;
    position: relative;
    max-height: 85%;

    &__left {
      width: 90%;
      position: relative;

      &::after {
        content: " ";
        height: 100%;
        width: 1px;
        background-color: var(--blue-50);
        position: absolute;
        right: 0;
        top: 0;
        margin-right: -2.5rem;
      }
    }
    &__right {
      width: 90%;
      padding-right: 1rem;

      overflow-y: scroll;

      &__info {
        color: white;
        text-align: center;
        font-size: var(--font-15);
      }
    }
  }
}

@media (max-width: 768px) {
  .section {
    padding: 2rem;

    .newTaskModal {
      display: flex;
      flex-direction: column;

      column-gap: 0rem;
      position: relative;
      max-height: 85%;
      overflow-y: scroll;
      padding-right: 1rem;

      &__left {
        width: 100%;
        position: relative;

        &::after {
          content: " ";
          height: 100%;
          width: 1px;
          background-color: transparent;
          position: absolute;
          right: 0;
          top: 0;
          margin-right: 0;
          display: block;
        }
      }
      &__right {
        margin-top: 3rem;
        width: 100%;
        padding-right: 0rem;

        overflow-y: visible;
      }
    }
  }
}

@media (max-width: 768px) {
  .section {
    padding: 1rem;
  }
}
