.ldsRing {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
}
.ldsRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 3px;
  border-radius: 50%;
  border: 3px solid red;
  border-color: red transparent transparent transparent;
  animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.ldsRing .blue {
  border: 3px solid var(--blue);
  border-color: var(--blue) transparent transparent transparent;
}
.ldsRing .white {
  border: 3px solid var(--white);
  border-color: var(--white) transparent transparent transparent;
}
.ldsRing .violet {
  border: 3px solid var(--violet);
  border-color: var(--violet) transparent transparent transparent;
}

.ldsRing div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsRing div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ldsRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.violet {
  div {
    border: 3px solid var(--violet);
    border-color: var(--violet) transparent transparent transparent;
  }
}
