.card {
  border-radius: 3px;
  padding: 1rem;
  background-color: var(--blue-card);
  margin: 1rem;
  border: solid 2px var(--blue-plus);
  cursor: pointer;
  position: relative;

  &__dueDate {
    // position: absolute;
    // top: -0.2rem;
    // right: 2rem;
    max-width: 5rem;
    transform: translateY(-1.2rem);
    background-color: #e6694342;
    padding: 0.5rem;
    margin: 0;
    margin-left: auto;
    color: var(--error);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #e6694367;
    border-top: none;
    font-weight: 500;
    font-size: var(--font-12);
  }

  p {
    color: var(--white);
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;

    p {
      margin: 0.5rem;
      background-color: var(--green);
      color: white;
      padding: 0.5rem;
      border-radius: 3px;
    }
  }

  &__stats {
    display: flex;

    p {
      color: var(--gray-180);
    }

    p:first-child {
      margin-right: 1rem;
    }
  }

  &:hover {
    background-color: var(--blue-card-plus);

    border: solid 2px var(--blue-50);
  }
}
