.moreinfo {
  background-color: var(--blue-100);
  border-radius: 5px;
  //height: 80px;
  width: 220px;
  position: absolute;
  z-index: 999;
  left: calc(100% - 25px);
  top: 30px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
  outline: none;
  padding: 1rem;

  &__changeColor {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    column-gap: 15px;
    row-gap: 15px;

    button {
      width: 30px;
      height: 30px;
      border: solid 2px var(--white);
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
