.groupOfProject {
  &__group {
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-left: 2rem;
    text-decoration: none;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 0px;
      border-radius: 3px;

      &:hover {
        background-color: var(--gray-400);
        cursor: pointer;
      }
    }

    button:first-child {
      svg {
        &:hover {
          background-color: transparent;
          color: white;
        }
      }
      &:hover {
        background-color: transparent;
      }
    }
    button:last-child {
      margin-left: auto;
    }

    &:hover {
      background-color: var(--gray-500);
      // cursor: pointer;
    }

    svg {
      color: var(--gray-100);
    }

    span {
      font-size: var(--font-14);
      color: var(--gray-100);
      padding-left: 2rem;

      width: 200px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__groupActive {
    background-color: var(--gray-500);
    color: var(--gray-100) !important;
    cursor: pointer;
  }

  &__projects {
    margin-top: 3rem;

    height: 1000px;
    max-height: 60%;
    overflow-y: scroll;

    position: relative;
  }

  &__project {
    ul {
      li {
        list-style: none;
        a {
          color: var(--gray-200);
          font-size: var(--font-14);
          padding: 0.5rem;
          cursor: pointer;
          text-decoration: none;
          display: block;
          padding-left: 6rem;

          span {
            display: block;
            width: 180px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }
  }
  &__list {
    padding-left: 0.5rem !important;
    text-align: center;
  }

  &__new {
    background-color: var(--blue-100);
    border-radius: 5px;
    height: 80px;
    width: 220px;
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 40px;
    //left: calc(100% - 25px);
    //top: 30px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    outline: none;
  }

  &__projects > div:last-child {
    padding-bottom: 20rem;
  }

  &__colapse {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);

    border-radius: 3px;
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 80px;
    right: 10px;

    &:hover {
      background-color: var(--blue-plus);
      cursor: pointer;
    }
  }
}

.colapse {
  width: 280px;
  max-width: 70px;

  transition: max-width 0.3s ease;

  .sidebar__logout {
    span {
      display: none;
    }
  }

  .sidebar__profile {
    padding: 0;
    display: flex;
    justify-content: center;
    p {
      display: none;
    }
  }
  .sidebar__menu {
    a {
      padding: 1rem;
      text-align: center;
      display: flex;
      justify-content: center;

      span {
        display: none;
      }
    }
  }

  .sidebar__projects {
    //display: none;

    opacity: 0;
    visibility: hidden;
  }

  .sidebar__add {
    display: none;

    button {
      span {
        display: none;
        background-color: red;
      }
    }
  }
}
