.signup {
  background-color: var(--blue-900);
  background-image: url("../../assets/abstract.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
